.marquee-container {
  background-color: #042346; /* amber-500 */
  color: white;
  overflow: hidden;
  position: relative;
  height: 2.5rem; /* h-10 */
  display: flex;
  align-items: center;
  font-weight: 600;
}

.marquee-text {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
